$brand__font: 'Fredoka One', cursive;
$mobile__brand__font: 'Sacramento', cursive;
$primary__font: 'Montserrat', sans-serif;
$secondary__font: 'Mulish', sans-serif;

$f__color: #6c5ce7;
$s__color: #7eca9c;