@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 996px;
  margin: 0 auto;
}

.btn {
  background-color: #6c5ce7;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background-color: #7eca9c;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.header nav a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #333;
}

.header nav a:hover {
  color: #6c5ce7;
}

.header nav .brand__nav__link {
  font-family: "Fredoka One", cursive;
  font-size: 30px;
}

.header nav .brand__nav__link {
  font-weight: 500;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header nav ul li a {
  padding: 8px 8px;
}

.header .main__banner {
  width: 100%;
  height: 350px;
  background-image: url(../images/pexels-pixabay-261662.jpg);
  background-size: cover;
  background-position: center;
}

.header .main__banner main {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.header .main__banner main .header__max {
  max-width: 726px;
  margin: 0 auto;
}

.header .main__banner main .header__max h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.header .main__banner main .header__max p {
  text-align: justify;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
}

.home__blog__lists {
  margin: 45px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 996px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
}

.home__blog__lists .home__blog__list {
  max-width: 32%;
  margin: 15px 0;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 15px 15px 30px 15px;
}

.home__blog__lists .home__blog__list img {
  width: 100%;
  margin-bottom: 15px;
}

.home__blog__lists .home__blog__list div {
  font-family: "Mulish", sans-serif;
}

.home__blog__lists .home__blog__list div h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}

.home__blog__lists .home__blog__list div p {
  margin-bottom: 30px;
  font-size: 12px;
}

footer {
  background-color: #6c5ce7;
  font-family: "Fredoka One", cursive;
  padding: 30px 15px;
  text-align: center;
  color: #fff;
}

.blog__page {
  max-width: 768px;
  margin: 0 auto;
  padding: 30px;
}

.blog__page .blog__header {
  margin-bottom: 30px;
}

.blog__page .blog__header .blog__header-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__page .blog__header .blog__header-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}

.blog__page .blog__header .blog__header-author div h5 {
  font-family: "Montserrat", sans-serif;
}

.blog__page .blog__header .blog__header-author div p {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}

.blog__page article h2, .blog__page article h3, .blog__page article h4, .blog__page article h5, .blog__page article h6 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}

.blog__page article p {
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  line-height: 2;
  margin-bottom: 30px;
}

.blog__page article p a {
  color: #6c5ce7;
  text-decoration: none;
  font-weight: bold;
}

.blog__page article p a:hover {
  color: #7eca9c;
}

.blog__page article img {
  margin: 15px;
  width: 100%;
}

.blog__page .share__footer {
  font-family: "Montserrat", sans-serif;
}

.blog__page .share__footer p a {
  width: 36px;
  height: 36px;
  background-color: #7eca9c;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding-top: 9px;
  margin-left: 10px;
}

.blog__page .share__footer p a:hover {
  background-color: #6c5ce7;
}

.about__page {
  padding: 30px 15px;
  max-width: 768px;
  margin: 0 auto;
}

.about__page h1, .about__page h2, .about__page h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}

.about__page p {
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  line-height: 2;
  margin-bottom: 30px;
}

.about__page p a {
  color: #6c5ce7;
  text-decoration: none;
  font-weight: bold;
}

.about__page p a:hover {
  color: #7eca9c;
}

.about__page .author__1, .about__page .author__2 {
  margin: 45px auto;
}

.about__page .author__1 img, .about__page .author__2 img {
  width: 200px;
  -webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}

.about__page .author__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__page .author__1 img {
  margin-right: 60px;
}

.about__page .author__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__page .author__2 img {
  margin-left: 60px;
}

.contact__page {
  padding: 30px 15px;
  max-width: 524px;
  margin: 0 auto;
}

.contact__page h1, .contact__page h2, .contact__page h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}

.contact__page form .form__input {
  margin-bottom: 15px;
}

.contact__page form .form__input label {
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  line-height: 2;
  margin-bottom: 30px;
  display: block;
  margin-bottom: 0;
}

.contact__page form .form__input label a {
  color: #6c5ce7;
  text-decoration: none;
  font-weight: bold;
}

.contact__page form .form__input label a:hover {
  color: #7eca9c;
}

.contact__page form .form__input input, .contact__page form .form__input textarea {
  padding: 8px 16px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.contact__page form .form__input textarea {
  height: 100px;
}

.contact__page form .form__input input[type=submit] {
  width: auto;
  color: #fff;
  background-color: #6c5ce7;
  border: none;
  font-size: 18px;
  padding: 12px 24px;
  font-weight: 500;
}

.contact__page form .form__input input[type=submit]:hover {
  background-color: #7eca9c;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header nav .brand__nav__link {
    font-family: "Sacramento", cursive;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .header nav .brand__nav__link {
    margin-bottom: 15px;
  }
  .header nav ul li a {
    padding: 8px 16px;
  }
  .home__blog__lists {
    max-width: 524px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__blog__lists .home__blog__list {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__blog__lists .home__blog__list img {
    width: 200px;
    margin-right: 15px;
  }
  /* about page */
  .about__page .author__1, .about__page .author__2 {
    max-width: 496px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    margin: 0 auto;
  }
  .about__page .author__1 img, .about__page .author__2 img {
    margin: 0;
  }
  .about__page .author__1 .author__txt, .about__page .author__2 .author__txt {
    text-align: center;
    margin-top: 15px;
  }
}

@media screen and (max-width: 496px) {
  .home__blog__lists .home__blog__list img {
    width: 100px;
  }
}
/*# sourceMappingURL=main.css.map */